<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Dự báo thời tiết</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Tra cứu thời tiết</h1>
        <input type="text" id="cityInput" placeholder="Nhập tên thành phố">
        <button onclick="getWeather()">Xem thời tiết</button>
        <p id="successMessage" style="display:none;"></p>
        <div id="weatherCardContainer"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
